<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>standing</key>
		<dict>
			<key>bones</key>
			<dict>
				<key>bone2</key>
				<dict>
					<key>rotate</key>
					<array>
						<dict>
							<key>angle</key>
							<integer>0</integer>
							<key>time</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>angle</key>
							<real>-2.25</real>
							<key>time</key>
							<real>0.33329999999999999</real>
						</dict>
						<dict>
							<key>angle</key>
							<real>-0.44</real>
							<key>time</key>
							<real>0.66659999999999997</real>
						</dict>
						<dict>
							<key>angle</key>
							<real>1.8</real>
							<key>time</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>angle</key>
							<integer>0</integer>
							<key>time</key>
							<real>1.3332999999999999</real>
						</dict>
					</array>
					<key>scale</key>
					<array>
						<dict>
							<key>curve</key>
							<string>stepped</string>
							<key>time</key>
							<integer>0</integer>
							<key>x</key>
							<integer>1</integer>
							<key>y</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>time</key>
							<real>1.3332999999999999</real>
							<key>x</key>
							<integer>1</integer>
							<key>y</key>
							<integer>1</integer>
						</dict>
					</array>
					<key>translate</key>
					<array>
						<dict>
							<key>curve</key>
							<string>stepped</string>
							<key>time</key>
							<integer>0</integer>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>time</key>
							<real>1.3332999999999999</real>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
						</dict>
					</array>
				</dict>
				<key>bone3</key>
				<dict>
					<key>rotate</key>
					<array>
						<dict>
							<key>angle</key>
							<integer>0</integer>
							<key>time</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>angle</key>
							<real>2.0299999999999998</real>
							<key>time</key>
							<real>0.33329999999999999</real>
						</dict>
						<dict>
							<key>angle</key>
							<real>-2.96</real>
							<key>time</key>
							<real>0.66659999999999997</real>
						</dict>
						<dict>
							<key>angle</key>
							<real>-6.2599999999999998</real>
							<key>time</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>angle</key>
							<integer>0</integer>
							<key>time</key>
							<real>1.3332999999999999</real>
						</dict>
					</array>
					<key>scale</key>
					<array>
						<dict>
							<key>curve</key>
							<string>stepped</string>
							<key>time</key>
							<integer>0</integer>
							<key>x</key>
							<integer>1</integer>
							<key>y</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>time</key>
							<real>1.3332999999999999</real>
							<key>x</key>
							<integer>1</integer>
							<key>y</key>
							<integer>1</integer>
						</dict>
					</array>
					<key>translate</key>
					<array>
						<dict>
							<key>curve</key>
							<string>stepped</string>
							<key>time</key>
							<integer>0</integer>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>time</key>
							<real>1.3332999999999999</real>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
						</dict>
					</array>
				</dict>
				<key>bone4</key>
				<dict>
					<key>rotate</key>
					<array>
						<dict>
							<key>angle</key>
							<integer>0</integer>
							<key>time</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>angle</key>
							<real>-3.6600000000000001</real>
							<key>time</key>
							<real>0.33329999999999999</real>
						</dict>
						<dict>
							<key>angle</key>
							<integer>0</integer>
							<key>time</key>
							<real>0.66659999999999997</real>
						</dict>
						<dict>
							<key>angle</key>
							<real>4.9199999999999999</real>
							<key>time</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>angle</key>
							<integer>0</integer>
							<key>time</key>
							<real>1.3332999999999999</real>
						</dict>
					</array>
					<key>scale</key>
					<array>
						<dict>
							<key>curve</key>
							<string>stepped</string>
							<key>time</key>
							<integer>0</integer>
							<key>x</key>
							<integer>1</integer>
							<key>y</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>curve</key>
							<string>stepped</string>
							<key>time</key>
							<real>0.66659999999999997</real>
							<key>x</key>
							<integer>1</integer>
							<key>y</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>time</key>
							<real>1.3332999999999999</real>
							<key>x</key>
							<integer>1</integer>
							<key>y</key>
							<integer>1</integer>
						</dict>
					</array>
					<key>translate</key>
					<array>
						<dict>
							<key>curve</key>
							<string>stepped</string>
							<key>time</key>
							<integer>0</integer>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>curve</key>
							<string>stepped</string>
							<key>time</key>
							<real>0.66659999999999997</real>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>time</key>
							<real>1.3332999999999999</real>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
						</dict>
					</array>
				</dict>
				<key>bone5</key>
				<dict>
					<key>rotate</key>
					<array>
						<dict>
							<key>angle</key>
							<integer>0</integer>
							<key>time</key>
							<integer>0</integer>
						</dict>
					</array>
					<key>scale</key>
					<array>
						<dict>
							<key>time</key>
							<integer>0</integer>
							<key>x</key>
							<integer>1</integer>
							<key>y</key>
							<integer>1</integer>
						</dict>
					</array>
					<key>translate</key>
					<array>
						<dict>
							<key>time</key>
							<integer>0</integer>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
						</dict>
					</array>
				</dict>
				<key>bone6</key>
				<dict>
					<key>rotate</key>
					<array>
						<dict>
							<key>angle</key>
							<integer>0</integer>
							<key>time</key>
							<integer>0</integer>
						</dict>
					</array>
					<key>scale</key>
					<array>
						<dict>
							<key>time</key>
							<integer>0</integer>
							<key>x</key>
							<integer>1</integer>
							<key>y</key>
							<integer>1</integer>
						</dict>
					</array>
					<key>translate</key>
					<array>
						<dict>
							<key>time</key>
							<integer>0</integer>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
						</dict>
					</array>
				</dict>
			</dict>
			<key>slots</key>
			<dict>
				<key>head</key>
				<dict>
					<key>attachment</key>
					<array>
						<dict>
							<key>name</key>
							<string>head</string>
							<key>time</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>head3</string>
							<key>time</key>
							<real>0.59999999999999998</real>
						</dict>
						<dict>
							<key>name</key>
							<string>head</string>
							<key>time</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>head</string>
							<key>time</key>
							<real>1.3332999999999999</real>
						</dict>
					</array>
				</dict>
			</dict>
		</dict>
		<key>trip</key>
		<dict>
			<key>bones</key>
			<dict>
				<key>bone1</key>
				<dict>
					<key>rotate</key>
					<array>
						<dict>
							<key>angle</key>
							<real>-1.6299999999999999</real>
							<key>time</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>angle</key>
							<real>-20.989999999999998</real>
							<key>time</key>
							<real>0.80000000000000004</real>
						</dict>
						<dict>
							<key>angle</key>
							<real>-48.770000000000003</real>
							<key>time</key>
							<real>0.86660000000000004</real>
						</dict>
						<dict>
							<key>angle</key>
							<real>-81.129999999999995</real>
							<key>time</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>angle</key>
							<real>-91.310000000000002</real>
							<key>time</key>
							<real>1.1666000000000001</real>
						</dict>
					</array>
					<key>translate</key>
					<array>
						<dict>
							<key>time</key>
							<integer>0</integer>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>5</integer>
						</dict>
						<dict>
							<key>time</key>
							<real>0.10000000000000001</real>
							<key>x</key>
							<integer>-3</integer>
							<key>y</key>
							<integer>3</integer>
						</dict>
						<dict>
							<key>time</key>
							<real>0.20000000000000001</real>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>6</integer>
						</dict>
						<dict>
							<key>time</key>
							<real>0.40000000000000002</real>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>3</integer>
						</dict>
						<dict>
							<key>time</key>
							<real>0.5</real>
							<key>x</key>
							<real>4.9900000000000002</real>
							<key>y</key>
							<real>-10.99</real>
						</dict>
						<dict>
							<key>time</key>
							<real>0.66659999999999997</real>
							<key>x</key>
							<real>20.989999999999998</real>
							<key>y</key>
							<real>-10.99</real>
						</dict>
						<dict>
							<key>time</key>
							<real>0.73329999999999995</real>
							<key>x</key>
							<real>20.989999999999998</real>
							<key>y</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>time</key>
							<real>0.80000000000000004</real>
							<key>x</key>
							<real>57.990000000000002</real>
							<key>y</key>
							<real>-16.989999999999998</real>
						</dict>
						<dict>
							<key>time</key>
							<real>0.86660000000000004</real>
							<key>x</key>
							<real>89.989999999999995</real>
							<key>y</key>
							<real>-27.989999999999998</real>
						</dict>
						<dict>
							<key>time</key>
							<integer>1</integer>
							<key>x</key>
							<real>101.98999999999999</real>
							<key>y</key>
							<real>-95.989999999999995</real>
						</dict>
						<dict>
							<key>time</key>
							<real>1.1666000000000001</real>
							<key>x</key>
							<real>62.990000000000002</real>
							<key>y</key>
							<real>-215.99000000000001</real>
						</dict>
						<dict>
							<key>time</key>
							<real>1.2665999999999999</real>
							<key>x</key>
							<real>55.990000000000002</real>
							<key>y</key>
							<real>-235.99000000000001</real>
						</dict>
						<dict>
							<key>time</key>
							<real>1.3817999999999999</real>
							<key>x</key>
							<real>43.990000000000002</real>
							<key>y</key>
							<real>-235.99000000000001</real>
						</dict>
						<dict>
							<key>time</key>
							<real>1.4968999999999999</real>
							<key>x</key>
							<real>23.989999999999998</real>
							<key>y</key>
							<real>-235.99000000000001</real>
						</dict>
						<dict>
							<key>time</key>
							<real>1.6121000000000001</real>
							<key>x</key>
							<integer>6</integer>
							<key>y</key>
							<real>-235.99000000000001</real>
						</dict>
						<dict>
							<key>time</key>
							<real>1.7272000000000001</real>
							<key>x</key>
							<real>-55.990000000000002</real>
							<key>y</key>
							<real>-235.99000000000001</real>
						</dict>
					</array>
				</dict>
				<key>bone2</key>
				<dict>
					<key>rotate</key>
					<array>
						<dict>
							<key>angle</key>
							<real>-3.1499999999999999</real>
							<key>time</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>angle</key>
							<real>-6.29</real>
							<key>time</key>
							<real>0.10000000000000001</real>
						</dict>
						<dict>
							<key>angle</key>
							<real>-4.9400000000000004</real>
							<key>time</key>
							<real>0.20000000000000001</real>
						</dict>
						<dict>
							<key>angle</key>
							<real>-2.2400000000000002</real>
							<key>time</key>
							<real>0.29999999999999999</real>
						</dict>
						<dict>
							<key>angle</key>
							<real>7.6299999999999999</real>
							<key>time</key>
							<real>0.59999999999999998</real>
						</dict>
						<dict>
							<key>angle</key>
							<real>-2.7599999999999998</real>
							<key>time</key>
							<real>0.66659999999999997</real>
						</dict>
						<dict>
							<key>angle</key>
							<real>12.83</real>
							<key>time</key>
							<real>0.73329999999999995</real>
						</dict>
						<dict>
							<key>angle</key>
							<real>36.909999999999997</real>
							<key>time</key>
							<real>0.80000000000000004</real>
						</dict>
						<dict>
							<key>angle</key>
							<real>58.969999999999999</real>
							<key>time</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>angle</key>
							<real>31.870000000000001</real>
							<key>time</key>
							<real>1.2665999999999999</real>
						</dict>
						<dict>
							<key>angle</key>
							<real>23.239999999999998</real>
							<key>time</key>
							<real>1.4333</real>
						</dict>
						<dict>
							<key>angle</key>
							<real>13.17</real>
							<key>time</key>
							<real>1.5333000000000001</real>
						</dict>
						<dict>
							<key>angle</key>
							<real>24.960000000000001</real>
							<key>time</key>
							<real>1.6000000000000001</real>
						</dict>
						<dict>
							<key>angle</key>
							<real>19.41</real>
							<key>time</key>
							<real>1.6666000000000001</real>
						</dict>
						<dict>
							<key>angle</key>
							<real>15.67</real>
							<key>time</key>
							<real>1.7333000000000001</real>
						</dict>
						<dict>
							<key>angle</key>
							<integer>21</integer>
							<key>time</key>
							<real>1.8</real>
						</dict>
					</array>
				</dict>
				<key>bone3</key>
				<dict>
					<key>rotate</key>
					<array>
						<dict>
							<key>angle</key>
							<real>18.210000000000001</real>
							<key>time</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>angle</key>
							<real>42.240000000000002</real>
							<key>time</key>
							<real>0.10000000000000001</real>
						</dict>
						<dict>
							<key>angle</key>
							<real>60.710000000000001</real>
							<key>time</key>
							<real>0.20000000000000001</real>
						</dict>
						<dict>
							<key>angle</key>
							<real>46.950000000000003</real>
							<key>time</key>
							<real>0.29999999999999999</real>
						</dict>
						<dict>
							<key>angle</key>
							<real>26.359999999999999</real>
							<key>time</key>
							<real>0.40000000000000002</real>
						</dict>
						<dict>
							<key>angle</key>
							<real>0.01</real>
							<key>time</key>
							<real>0.5</real>
						</dict>
						<dict>
							<key>angle</key>
							<real>-25.030000000000001</real>
							<key>time</key>
							<real>0.59999999999999998</real>
						</dict>
						<dict>
							<key>angle</key>
							<real>2.5800000000000001</real>
							<key>time</key>
							<real>0.66659999999999997</real>
						</dict>
						<dict>
							<key>angle</key>
							<real>52.57</real>
							<key>time</key>
							<real>0.73329999999999995</real>
						</dict>
						<dict>
							<key>angle</key>
							<real>79.489999999999995</real>
							<key>time</key>
							<real>0.80000000000000004</real>
						</dict>
						<dict>
							<key>angle</key>
							<real>143.37</real>
							<key>time</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>angle</key>
							<real>157.78</real>
							<key>time</key>
							<real>1.2665999999999999</real>
						</dict>
						<dict>
							<key>angle</key>
							<real>190.72</real>
							<key>time</key>
							<real>1.4333</real>
						</dict>
						<dict>
							<key>angle</key>
							<real>175.03</real>
							<key>time</key>
							<real>1.5333000000000001</real>
						</dict>
					</array>
				</dict>
				<key>bone4</key>
				<dict>
					<key>rotate</key>
					<array>
						<dict>
							<key>angle</key>
							<real>-12.43</real>
							<key>time</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>angle</key>
							<real>-24.920000000000002</real>
							<key>time</key>
							<real>0.10000000000000001</real>
						</dict>
						<dict>
							<key>angle</key>
							<real>-17.289999999999999</real>
							<key>time</key>
							<real>0.20000000000000001</real>
						</dict>
						<dict>
							<key>angle</key>
							<real>-13.23</real>
							<key>time</key>
							<real>0.29999999999999999</real>
						</dict>
						<dict>
							<key>angle</key>
							<real>10.220000000000001</real>
							<key>time</key>
							<real>0.40000000000000002</real>
						</dict>
						<dict>
							<key>angle</key>
							<real>38.310000000000002</real>
							<key>time</key>
							<real>0.5</real>
						</dict>
						<dict>
							<key>angle</key>
							<real>55.329999999999998</real>
							<key>time</key>
							<real>0.59999999999999998</real>
						</dict>
						<dict>
							<key>angle</key>
							<real>21.670000000000002</real>
							<key>time</key>
							<real>0.66659999999999997</real>
						</dict>
						<dict>
							<key>angle</key>
							<real>44.710000000000001</real>
							<key>time</key>
							<real>0.73329999999999995</real>
						</dict>
						<dict>
							<key>angle</key>
							<real>53.009999999999998</real>
							<key>time</key>
							<real>0.80000000000000004</real>
						</dict>
						<dict>
							<key>angle</key>
							<real>115.73</real>
							<key>time</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>angle</key>
							<real>138.41999999999999</real>
							<key>time</key>
							<real>1.2665999999999999</real>
						</dict>
						<dict>
							<key>angle</key>
							<real>155.75999999999999</real>
							<key>time</key>
							<real>1.4333</real>
						</dict>
					</array>
					<key>translate</key>
					<array>
						<dict>
							<key>time</key>
							<real>1.4333</real>
							<key>x</key>
							<real>-13.15</real>
							<key>y</key>
							<real>6.7000000000000002</real>
						</dict>
					</array>
				</dict>
				<key>bone5</key>
				<dict>
					<key>rotate</key>
					<array>
						<dict>
							<key>angle</key>
							<real>-14.27</real>
							<key>time</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>angle</key>
							<real>-31.219999999999999</real>
							<key>time</key>
							<real>0.10000000000000001</real>
						</dict>
						<dict>
							<key>angle</key>
							<real>-17.190000000000001</real>
							<key>time</key>
							<real>0.20000000000000001</real>
						</dict>
						<dict>
							<key>angle</key>
							<real>-6.3499999999999996</real>
							<key>time</key>
							<real>0.29999999999999999</real>
						</dict>
						<dict>
							<key>angle</key>
							<real>11.359999999999999</real>
							<key>time</key>
							<real>0.40000000000000002</real>
						</dict>
						<dict>
							<key>angle</key>
							<real>35.640000000000001</real>
							<key>time</key>
							<real>0.5</real>
						</dict>
						<dict>
							<key>angle</key>
							<real>22.969999999999999</real>
							<key>time</key>
							<real>0.59999999999999998</real>
						</dict>
						<dict>
							<key>angle</key>
							<real>-0.47999999999999998</real>
							<key>time</key>
							<real>0.66659999999999997</real>
						</dict>
						<dict>
							<key>angle</key>
							<real>-23.52</real>
							<key>time</key>
							<real>0.73329999999999995</real>
						</dict>
						<dict>
							<key>angle</key>
							<real>-72.409999999999997</real>
							<key>time</key>
							<real>0.80000000000000004</real>
						</dict>
						<dict>
							<key>angle</key>
							<real>254.52000000000001</real>
							<key>time</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>angle</key>
							<real>-49.229999999999997</real>
							<key>time</key>
							<real>1.3</real>
						</dict>
						<dict>
							<key>angle</key>
							<real>-0.78000000000000003</real>
							<key>time</key>
							<real>1.3666</real>
						</dict>
					</array>
					<key>translate</key>
					<array>
						<dict>
							<key>time</key>
							<real>0.5</real>
							<key>x</key>
							<real>3.9100000000000001</real>
							<key>y</key>
							<real>3.1099999999999999</real>
						</dict>
						<dict>
							<key>time</key>
							<real>0.66659999999999997</real>
							<key>x</key>
							<real>-5.0800000000000001</real>
							<key>y</key>
							<real>2.8500000000000001</real>
						</dict>
					</array>
				</dict>
				<key>bone6</key>
				<dict>
					<key>rotate</key>
					<array>
						<dict>
							<key>angle</key>
							<real>11.59</real>
							<key>time</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>angle</key>
							<real>18.079999999999998</real>
							<key>time</key>
							<real>0.10000000000000001</real>
						</dict>
						<dict>
							<key>angle</key>
							<real>9.0999999999999996</real>
							<key>time</key>
							<real>0.20000000000000001</real>
						</dict>
						<dict>
							<key>angle</key>
							<real>-5.1699999999999999</real>
							<key>time</key>
							<real>0.29999999999999999</real>
						</dict>
						<dict>
							<key>angle</key>
							<real>-22.120000000000001</real>
							<key>time</key>
							<real>0.40000000000000002</real>
						</dict>
						<dict>
							<key>angle</key>
							<real>-55.700000000000003</real>
							<key>time</key>
							<real>0.5</real>
						</dict>
						<dict>
							<key>angle</key>
							<real>-51.729999999999997</real>
							<key>time</key>
							<real>0.59999999999999998</real>
						</dict>
						<dict>
							<key>angle</key>
							<real>-37.689999999999998</real>
							<key>time</key>
							<real>0.66659999999999997</real>
						</dict>
						<dict>
							<key>angle</key>
							<real>-61.880000000000003</real>
							<key>time</key>
							<real>0.80000000000000004</real>
						</dict>
						<dict>
							<key>angle</key>
							<real>-85.659999999999997</real>
							<key>time</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>angle</key>
							<real>-51.810000000000002</real>
							<key>time</key>
							<real>1.1666000000000001</real>
						</dict>
						<dict>
							<key>angle</key>
							<real>-23.149999999999999</real>
							<key>time</key>
							<real>1.2333000000000001</real>
						</dict>
					</array>
					<key>translate</key>
					<array>
						<dict>
							<key>time</key>
							<real>0.40000000000000002</real>
							<key>x</key>
							<real>-6.9900000000000002</real>
							<key>y</key>
							<real>-0.19</real>
						</dict>
						<dict>
							<key>time</key>
							<integer>1</integer>
							<key>x</key>
							<real>-18.199999999999999</real>
							<key>y</key>
							<real>-4.4900000000000002</real>
						</dict>
					</array>
				</dict>
			</dict>
			<key>draworder</key>
			<array>
				<dict>
					<key>time</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>slots</key>
			<dict>
				<key>head</key>
				<dict>
					<key>attachment</key>
					<array>
						<dict>
							<key>name</key>
							<string>head</string>
							<key>time</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>head2</string>
							<key>time</key>
							<real>0.66659999999999997</real>
						</dict>
						<dict>
							<key>name</key>
							<string>head3</string>
							<key>time</key>
							<real>1.2665999999999999</real>
						</dict>
					</array>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>bones</key>
	<array>
		<dict>
			<key>name</key>
			<string>root</string>
		</dict>
		<dict>
			<key>name</key>
			<string>bone1</string>
			<key>parent</key>
			<string>root</string>
			<key>x</key>
			<real>-6.5099999999999998</real>
			<key>y</key>
			<real>260.63</real>
		</dict>
		<dict>
			<key>length</key>
			<real>131.62</real>
			<key>name</key>
			<string>bone2</string>
			<key>parent</key>
			<string>bone1</string>
			<key>rotation</key>
			<real>90.450000000000003</real>
			<key>y</key>
			<real>28.789999999999999</real>
		</dict>
		<dict>
			<key>length</key>
			<real>83.400000000000006</real>
			<key>name</key>
			<string>bone3</string>
			<key>parent</key>
			<string>bone1</string>
			<key>rotation</key>
			<real>-115.28</real>
			<key>x</key>
			<real>-24.670000000000002</real>
			<key>y</key>
			<real>2.7400000000000002</real>
		</dict>
		<dict>
			<key>length</key>
			<real>64.209999999999994</real>
			<key>name</key>
			<string>bone4</string>
			<key>parent</key>
			<string>bone1</string>
			<key>rotation</key>
			<real>-74.170000000000002</real>
			<key>x</key>
			<real>27.41</real>
			<key>y</key>
			<real>-2.7400000000000002</real>
		</dict>
		<dict>
			<key>length</key>
			<real>102.86</real>
			<key>name</key>
			<string>bone5</string>
			<key>parent</key>
			<string>bone1</string>
			<key>rotation</key>
			<real>-91.349999999999994</real>
			<key>x</key>
			<real>-21.93</real>
			<key>y</key>
			<real>-128.87</real>
		</dict>
		<dict>
			<key>length</key>
			<real>100.12</real>
			<key>name</key>
			<string>bone6</string>
			<key>parent</key>
			<string>bone1</string>
			<key>rotation</key>
			<real>-88.640000000000001</real>
			<key>x</key>
			<real>26.039999999999999</real>
			<key>y</key>
			<real>-124.76000000000001</real>
		</dict>
	</array>
	<key>skins</key>
	<dict>
		<key>default</key>
		<dict>
			<key>body</key>
			<dict>
				<key>body</key>
				<dict>
					<key>height</key>
					<integer>183</integer>
					<key>width</key>
					<integer>80</integer>
					<key>x</key>
					<real>-4.1100000000000003</real>
					<key>y</key>
					<real>-49.840000000000003</real>
				</dict>
			</dict>
			<key>head</key>
			<dict>
				<key>head</key>
				<dict>
					<key>height</key>
					<integer>224</integer>
					<key>rotation</key>
					<real>-90.450000000000003</real>
					<key>width</key>
					<integer>187</integer>
					<key>x</key>
					<real>111.75</real>
					<key>y</key>
					<real>24.07</real>
				</dict>
				<key>head2</key>
				<dict>
					<key>height</key>
					<integer>224</integer>
					<key>rotation</key>
					<real>-90.450000000000003</real>
					<key>width</key>
					<integer>187</integer>
					<key>x</key>
					<real>111.75</real>
					<key>y</key>
					<real>24.07</real>
				</dict>
				<key>head3</key>
				<dict>
					<key>height</key>
					<integer>224</integer>
					<key>rotation</key>
					<real>-90.450000000000003</real>
					<key>width</key>
					<integer>187</integer>
					<key>x</key>
					<real>111.75</real>
					<key>y</key>
					<real>24.07</real>
				</dict>
			</dict>
			<key>lArm</key>
			<dict>
				<key>lArm</key>
				<dict>
					<key>height</key>
					<integer>142</integer>
					<key>rotation</key>
					<real>74.170000000000002</real>
					<key>width</key>
					<integer>69</integer>
					<key>x</key>
					<real>54.039999999999999</real>
					<key>y</key>
					<real>4.6200000000000001</real>
				</dict>
			</dict>
			<key>lLeg</key>
			<dict>
				<key>lLeg</key>
				<dict>
					<key>height</key>
					<integer>152</integer>
					<key>rotation</key>
					<real>88.640000000000001</real>
					<key>width</key>
					<integer>78</integer>
					<key>x</key>
					<real>59.450000000000003</real>
					<key>y</key>
					<real>20.530000000000001</real>
				</dict>
			</dict>
			<key>rArm</key>
			<dict>
				<key>rArm</key>
				<dict>
					<key>height</key>
					<integer>146</integer>
					<key>rotation</key>
					<real>115.28</real>
					<key>width</key>
					<integer>55</integer>
					<key>x</key>
					<real>57.130000000000003</real>
					<key>y</key>
					<real>4.21</real>
				</dict>
			</dict>
			<key>rLeg</key>
			<dict>
				<key>rLeg</key>
				<dict>
					<key>height</key>
					<integer>149</integer>
					<key>rotation</key>
					<real>91.349999999999994</real>
					<key>width</key>
					<integer>81</integer>
					<key>x</key>
					<real>57.020000000000003</real>
					<key>y</key>
					<real>24.629999999999999</real>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>slots</key>
	<array>
		<dict>
			<key>attachment</key>
			<string>lArm</string>
			<key>bone</key>
			<string>bone4</string>
			<key>name</key>
			<string>lArm</string>
		</dict>
		<dict>
			<key>attachment</key>
			<string>lLeg</string>
			<key>bone</key>
			<string>bone6</string>
			<key>name</key>
			<string>lLeg</string>
		</dict>
		<dict>
			<key>attachment</key>
			<string>body</string>
			<key>bone</key>
			<string>bone1</string>
			<key>name</key>
			<string>body</string>
		</dict>
		<dict>
			<key>attachment</key>
			<string>head3</string>
			<key>bone</key>
			<string>bone2</string>
			<key>name</key>
			<string>head</string>
		</dict>
		<dict>
			<key>attachment</key>
			<string>rLeg</string>
			<key>bone</key>
			<string>bone5</string>
			<key>name</key>
			<string>rLeg</string>
		</dict>
		<dict>
			<key>attachment</key>
			<string>rArm</string>
			<key>bone</key>
			<string>bone3</string>
			<key>name</key>
			<string>rArm</string>
		</dict>
	</array>
</dict>
</plist>
